<!DOCTYPE html>
<html 🆖>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ShareTracs (beta)</title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="405272879236-9b622qrpkqlk1nt25i6n74jkkustjvj4.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

</head>

<body>

  <app>
    Loading...
  </app>

  <footer>
    <md-toolbar color="primary">
        <!-- empty footer bar -->
    </md-toolbar>
  </footer>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
